@(artist: play.data.Form[Artist])

@main("Registrarse"){
<div class="container">
    <div class="card grey lighten-2" align="center">
        @helper.form(action=routes.ArtistController.addArtist){
        @helper.CSRF.formField
        @helper.inputText(artist("username"),'required -> "required")
        @helper.inputPassword(artist("pass"),'required -> "required")
        @helper.inputText(artist("name"),'required -> "required")
        @helper.inputText(artist("lastname"),'required -> "required")
        <input type="submit" class="btn waves-effect waves-light" value="Sign in">
        }
        <div class="section"/>
    </div>
</div>


}